{% extends 'core/base.html' %}

{% block title %} Edit Item {% endblock  %}

{% block content %}
<h1>{{ title }}</h1>

    {% comment %} enctype allows for images to be uploaded {% endcomment %}
<form method='post' actions='.' enctype='multipart/form-data'>
    {% csrf_token %}
    <div>
        {{ form.as_p }}
    </div>
    {% if form.errors or form.non_field_errors %}
    <div>
        {{ form.non_field_errors }}
    </div>
    {% endif %}
    <button>Submit</button>
</form>
{% endblock %}