{% extends 'core/base.html' %}

{% block title  %}Items{% endblock %}

{% block content %}
<div>
    <div>
        <form method='get' action="{% url 'item:search' %}">
            <input name='query' type='text' value="{{ query }}" placeholder='Search for an item!' >
            <button>Search</button>
        </form>

        <hr>
        <p>types</p> 

        <ul>
            {% for type in types %}
            <li>
                <a href="{% url 'item:search' %}?query={{ query }}&type={{ type.id }}"> {{ type.name }}</a>
            </li>
            {% endfor %}
        </ul>    
    </div>
    <div>
        <div>
            {% for item in items %}
            <div>
                <a href="{% url 'item:detail' item.id %}">
                    <div>
                        <img src='{{ item.image.url }}' >
                    </div>
                    <div>
                        <h2>{{ item.type }}</h2>
                        <h3>{{ item.species }}</h3>
                        <p>Price: {{ item.price }}</p>
                    </div> 
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock  %}